# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
dist
node_modules

# IntelliJ project files
.idea
*.iml
out
gen

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
